div {
	border: 2px solid black;
}
.page {
	border: 1px solid black;
	margin-left: auto;
	margin-right: auto;
	width: 60%;	
}
.kolom {
	float: right;
	width: 49.4%;	
}
.balk {
	clear: both;	
}

#navigation li {
	display: inline;
	padding: 0.5em;
	background-color: #ddd;
	border: 3px outset gray;
	margin: 1em 1em 2em 1em;	
}

h1, #navigation, #flash {
	text-align: center;
}

#flash {
	background-color: #ffffcc;
	border: 1px dotted #ccccaa;
	margin: 0.5em;
	padding: 0.5em;	
}